<!DOCTYPE html>
<html lang="en" ng-app="starterapp">
    <head>
        <title>My first Angular App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body ng-controller="StarterCtrl">
        <h1>{{title}}</h1>

        <!-- Two Way Bindings -->
        <!--<input type="text" placeholder="Name" ng-model="user.name"/> {{user.name}}
        <br>
        <input type="text" placeholder="School" ng-model="user.school"/> 
        <br><button ng-click="twoWayBindEg()">Click Me!</button>-->



        <!-- Repeats and Service Calls -->
        <ul>
            <li>Akash</li>
            <li>Ashish</li>
            <li>Amit</li>
        </ul>

        <ul>
            <li ng-repeat="people in peoples"> {{people}}</li>
        </ul>



        <!-- Directives   -->
        <!--<my-header></my-header>-->
        <!--<some-action name="Akash"></some-action>-->
        <!--<heavy-action name="{{myName}}"></heavy-action>-->


        <!-- Javasript-->
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="js/starter/app.module.js"></script>
        <script src="js/starter/starter.controller.js"></script>
        <script src="js/starter/header.directive.js"></script>
    </body>
</html>